section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  mat-icon {
    color: red;
    align-self: center;
    margin-bottom: 1.5rem;
  }
  .sub-header {
    margin-bottom: 3rem;
  }
}
