<form class="recipe-form" [formGroup]="recipeForm" (ngSubmit)="onFormsubmit()">
  <!-- <div class="flex-container"> -->
  <mat-form-field class="name" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <input placeholder="30 min" matInput formControlName="time" />
  </mat-form-field>
  <!-- </div> -->
  <!-- <div class="flex-container"> -->
  <mat-form-field appearance="fill">
    <mat-label>Portion</mat-label>
    <input type="number" matInput formControlName="portion" />
  </mat-form-field>

  <mat-form-field class="level">
    <mat-label>level</mat-label>
    <mat-select formControlName="level">
      <mat-option value="begginer">begginer</mat-option>
      <mat-option value="enthusiast">enthusiast</mat-option>
      <mat-option value="expert">expert</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- </div> -->
  <!-- custom file uploader -->
  <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
  />

  <div class="file-upload">
    {{ fileName || "No image uploaded yet." }}

    <button
      type="button"
      mat-mini-fab
      color="primary"
      class="upload-btn white"
      (click)="fileUpload.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>

  <!-- add ingredients -->
  <article class="ingredient" formArrayName="ingredients">
    <div *ngFor="let ingredient of getIngredients().controls; let idx = index">
      <mat-form-field appearance="fill">
        <mat-label>Ingredient</mat-label>
        <input matInput [formControlName]="idx" />
        <mat-icon
          (click)="removeIngredientBtnClick(idx)"
          matSuffix
          class="remove remove-direction"
          >close</mat-icon
        >
      </mat-form-field>
    </div>
  </article>
  <button
    class="btn-add-ingredient"
    (click)="addNewIngredientBtnClidk()"
    mat-raised-button
    color="basic"
    type="button"
  >
    Add new ingredients
  </button>

  <article class="direction" formArrayName="directions">
    <div *ngFor="let ingredient of getDirections().controls; let idx = index">
      <mat-form-field appearance="fill">
        <mat-label>Direction</mat-label>
        <input matInput [formControlName]="idx" />
        <mat-icon
          (click)="removeDirectionBtnClick(idx)"
          matSuffix
          class="remove remove-direction"
          >close</mat-icon
        >
      </mat-form-field>
    </div>
  </article>
  <button
    class="btn-add-directions"
    (click)="addNewDirectionBtnClidk()"
    mat-raised-button
    color="basic"
    type="button"
  >
    Add new Directions
  </button>
  <mat-checkbox formControlName="vegie" color="primary"
    >This recipe is vegan</mat-checkbox
  >
  <button class="btn-submit" mat-raised-button color="basic" type="submit">
    Submit
  </button>
</form>
