<mat-card class="recipe-card">
  <mat-card-header>
    <img mat-card-xl-image [src]="recipe.image" />
    <mat-icon *ngIf="recipe.vegie" class="category-icon">eco</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <div class="stars">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star_half</mat-icon>
    </div>
    <mat-card-title
      ><span>{{ recipe.name }}</span></mat-card-title
    >
    <div class="description">
      <div class="description-inner-cont">
        <mat-icon class="description-icon">schedule</mat-icon>
        <span>{{ recipe.time }}</span>
      </div>
      <div class="description-inner-cont">
        <mat-icon class="description-icon">person</mat-icon>
        <span>{{ recipe.portion }}</span>
      </div>
      <div class="description-inner-cont">
        <mat-icon class="description-icon">restaurant</mat-icon>
        <span>{{ recipe.level }}</span>
      </div>
    </div>
    <button (click)="navigateToDetails()">VIEW RECIPE</button>
  </mat-card-content>
</mat-card>
