<mat-card class="recipe-card">
  <mat-card-header>
    <img
      mat-card-xl-image
      src="https://images.unsplash.com/photo-1611270629569-8b357cb88da9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
            "
    />
    <mat-icon class="category-icon">eco</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <div class="stars">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star_half</mat-icon>
    </div>
    <mat-card-title
      ><span>Fetuccine pasta with shrimp and tomatoes</span></mat-card-title
    >
    <div class="description">
      <div class="description-inner-cont">
        <mat-icon class="description-icon">schedule</mat-icon>
        <span>45 mins</span>
      </div>
      <div class="description-inner-cont">
        <mat-icon class="description-icon">person</mat-icon>
        <span>2 people</span>
      </div>
      <div class="description-inner-cont">
        <mat-icon class="description-icon">restaurant</mat-icon>
        <span>Beginner</span>
      </div>
    </div>
    <button (click)="navigateToDetails()">VIEW RECIPE</button>
  </mat-card-content>
</mat-card>
